#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form > input, textarea {
    margin: 0.5em;
    width: 78%;
    height: 2.5em;
}

#contact-form > textarea {
    height: 10em;
}

#contact-form > button {
    background-color: orange;
    color:white;
    padding: 1em;
}

