#splash-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#splash-image-container {
    width: 75%;
}

#stethoscope {
    width: 100%;
    height: 30em;

}

#welcome-header {
    font-size: 4em;
    color: darkblue;
}

#map-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#map-images-container > * {
    margin: 1em;
}